*.npy
**.png
**.mat
**.swn
**.swp
test.jpg
train/*
**.tar.gz
**.swo
**/__pycache__/**
checkpoints/*
visualization/*
matlab_model/*
nlvd_evaluation/*
**.pyc
**.pkl
**.json
scripts/*
edge_boxes_with_python/*

